@model FranciscoWinery.Models.ApiResult


<div id="searchresults">
    <h5>Total Count: @Model.TotalCount</h5>
    <h7>@Model.Duration milliseconds elapsed</h7>

    @foreach (var drink in Model.Results)
    {
        <div class="row item-result">
            <div class="col-md-2"><h3>@(Model.Results.ToList().IndexOf(drink)+1)</h3></div>
            <div class="col-md-8">
                <h2>@drink.Title</h2>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <p>
                            <a href="@drink.Uri">
                                <img src="@drink.Raw.TpThumbnailUri" style="max-height: 250px; max-width: 250px;">
                            </a>
                        </p>
                    </div>
                    <div class="col-md-4"></div>
                </div>

                <p>@drink.Excerpt</p>
                <p>Available: @drink.Raw.TpDisponibilite</p>
            </div>
            <div class="col-md-2"></div>
        </div>
    }
</div>
