@model FranciscoWinery.Models.ApiResult

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>

@section Scripts {

    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        $(function() {
            $("#q").mouseover(function() {
                $(this).animate({ height: '+=5', width: '+=5' })
                    .animate({ height: '-=5', width: '-=5' })
                    .focus();
            });
        });
    </script>
}


<body>
<div class="row" style="padding-top: 15px">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div>
            @using(Html.BeginForm("Search", 
                "Home", 
                FormMethod.Get, 
                new { enctype = "multipart/form-data" }))
            {
                <div class="row">
@*                    @Html.TextBox("q", new { @class = "searchbox" })*@
                    <input type="text" id="q" name="q">
                    <input type="submit" class="btn btn-primary btn-sm" value="Refine search">
                 
                </div>
                <div class="row">
                <div class="col-md-2">
                    Results per page:
                    @{
                        var listeItems = new List<SelectListItem>
                        {
                            new SelectListItem
                            {
                                Text = "12",
                                Value = "12"
                            },
                            new SelectListItem
                            {
                                Text = "24",
                                Value = "24"
                            },
                            new SelectListItem
                            {
                                Text = "50",
                                Value = "50"
                            }
                        };
                    }
                    @Html.DropDownList("NumberOfResults", listeItems, "-- Items per page --")
                </div>
                </div>                                                              
                <div class="row">
                    <div class="col-md-2">
                        @Html.RadioButton("SortField", "tpmillesime") Millesime
                    </div>
                    <div class="col-md-2">
                        @Html.RadioButton("SortField", "tpprixnum") Price
                    </div>
                    <div class="col-md-2">
                        @Html.RadioButton("SortField", "relevancy") Relevance
                    </div>
                    <div class="col-md-2">
                        @Html.RadioButton("SortField", "date") Date
                    </div>
                </div>
            }          
            
        </div>    
    </div>
    
    <div class="col-md-4"></div>
</div>
<div>
    @foreach (var drink in Model.Results)
    {
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h2>@drink.Title</h2>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <p>
                            <a href="@drink.Uri">
                                <img src="@drink.Raw.TpThumbnailUri" alt="test">
                            </a>
                        </p>
                    </div>
                    <div class="col-md-4"></div>
                </div>

                <p>@drink.Excerpt</p>
                <p>Available: @drink.Raw.TpDisponibilite</p>
            </div>
            <div class="col-md-2"></div>
        </div>
    }
</div>
</body>
</html>